@import "variables";


/*=====  Header  =====*/

.header {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 3rem;
}

.header-inner {
    justify-content: space-between;
    height: 100%;
    padding: 0;
}

.header-left {
    justify-content: flex-start;
}

.header-logo-image img {
    height: 2rem;
    margin-right: .5rem;
}

.header-logo-title .header-link {
    color: $white;
}

.header-link {
    margin-left: 3rem;
    color: $grey;

    &.active {
        color: $white;
    }

    &:first-child {
        margin-left: 0;
    }

    &:hover {
        color: $white;
        transition: color .2s ease;
    }
}

.header-right {
    justify-content: flex-end;
}

.header-search {
    background: $darkgrey;
    border-radius: 3rem;

    form {
        width: 28rem;
        position: relative;

        input {
            box-sizing: border-box;
            width: 28rem;
            height: 3rem;
            border-radius: 3rem;
            background: $darkgrey;
            border: none;
            outline: none;

            &::placeholder {
                padding-left: 1.3rem;
            }

            &:focus {
                padding-left: 1.3rem;
                color: rgba($grey, 1);
                font-size: 1.4rem;

                &::placeholder {
                    color: transparent;
                }

            }
        }
    }

    button {
        position: absolute;
        background: none;
        border: none;
        top: .7rem;
        right: .7rem;
    }
}
