@import "variables";


/*=====  Intro  =====*/

.intro {
    background-size: cover;

    &.index {
        // height: 100vh;
        height: 86.5rem;
        background: url(../images/banner.png) center 75% no-repeat;
    }

    &.catalog {
        height: 54rem;
        background: url(../images/Morten%20Harket.png) center 75% no-repeat;
    }
}

.intro-inner {
    &.index {
        justify-content: center;
        text-align: center;
    }

    &.catalog {
        justify-content: flex-end;
        width: 100%;
    }
}


/*=====  Index / Intro =====*/

.intro-title {
    margin-bottom: 1rem;
    line-height: 1.1;
}

.intro-subtitle {
    margin-bottom: 4.5rem;
    line-height: 1.1;
}

.intro-text {
    margin-bottom: 4rem;
    line-height: 1.1;
}

.intro-form {
    width: 57rem;
}

.form-item {
    justify-content: space-between;
    margin-bottom: 3rem;

    input {
        box-sizing: border-box;
        width: 27rem;
        height: 5rem;
        padding-left: 2.5rem;
        border: 1px solid rgba($white, .4);
        border-radius: .2rem;
        outline: none;
        background: rgba($white, .2);
        color: rgba($white, 1);

        &::placeholder {
            color: rgba($white, 1);
        }

        &:focus {
            border: 1px solid rgba($white, .75);

            &::placeholder {
                color: transparent;
            }
        }
    }
}

.intro-button {
    width: 57rem;
    height: 5rem;
    border: 1px solid $green;
    background-color: $green;
    color: $white;

    &:focus, &:hover {
        cursor: pointer;
        box-shadow: 0 0 2px $white;
    }
}


/*=====  Catalog / Intro =====*/

.intro-artist {
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20rem;
}

.artist-name {
    margin-bottom: 2rem;
}

.artist-fans {
    margin-bottom: 4rem;
}

.intro-buttons {
    button {
        position: relative;
        box-sizing: border-box;
        width: 20rem;
        height: 5rem;
        border: none;
        color: $white;
        text-align: left;

        &.btn-mix {
            margin-right: 2rem;
            background: $purple;
        }

        &.btn-fav {
            background: $orange;
        }

        img {
            position: absolute;
            top: 1.4rem;
            left: 2rem;
            height: 2rem;
            filter: invert(1);
        }
        span {
            margin-left: 5.5rem;
        }

        &:focus, &:hover {
            cursor: pointer;
            box-shadow: 0 0 2px $white;
        }
    }
}
