@import "variables";


/*=====  Main Catalog =====*/

.main.catalog {
    background: $black;
    text-align: center;
    padding-top: 10rem;
}

.main-inner.catalog {
    flex-direction: column;

    .main-item {
        margin-bottom: 10rem;
        flex-wrap: wrap;
        justify-content: center;

        .item-title {
            width: 100%;
            margin-bottom: 5rem;
            text-align: left;
        }
    }
}

.main-block {
    width: 100%;
    flex-wrap: wrap;
    justify-content: flex-start;
}


/*=====  Popular  =====*/
.popular-track {
    width: 50%;
    justify-content: space-between;

    &:nth-child(-n+4) {
        margin-bottom: 2.5rem;
    }

}

.track-data {
    justify-content: flex-start;
}

.track-cover{
    margin-right: 1.5rem;

    img {
        width: 5rem;
        height: 5rem;
    }
}

.track-info {
    flex-direction: column;
    justify-content: center;
    text-align: left;

    .track-name {
        margin-bottom: .5rem;
    }

    .track-artist {
        color: $grey;
    }
}

.track-length {
    margin-right: 12.3rem;
    align-items: center;
    color: #8C8C8C;
}


/*=====  Didcography  =====*/
.discography-album {
    width: 25rem;
    margin-right: 5rem;
    justify-content: flex-start;

    &:nth-child(-n+4) {
        margin-bottom: 5rem;
    }

    &:nth-child(4n) {
        margin-bottom: 0;
    }
}

.album-data {
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
}

.album-cover {
    width: 100%;
    margin-bottom: 1rem;
    img {
        width: 25rem;
        height: 25rem;
    }
}

.album-name {
    width: 100%;
    margin-bottom: 1rem;
}

.album-year {
    width: 100%;
}


/*=====  Similar  =====*/
.similar-artist {
    width: 25rem;
    margin-right: 5rem;
    justify-content: flex-start;

    &:nth-child(-n+4) {
        margin-bottom: 5rem;
    }

    &:nth-child(4n) {
        margin-right: 0;
    }
}

.artist-data {
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;

    .artist-name {
        width: 100%;
        margin-bottom: 1rem;
    }

    .artist-fans {
        margin-bottom: 0;
    }
}

.artist-photo {
    width: 100%;
    margin-bottom: 1.5rem;
    img {
        width: 25rem;
        height: 25rem;
    }
}


