@import "variables";


/*=====  Main Index =====*/

.main.index {
    background: $black;
    text-align: center;
    padding-top: 10rem;
}

.main-inner.index {
    .main-item {
        flex-wrap: wrap;
        justify-content: center;
    }
}


/*=====  Subscriptions  =====*/
.subscriptions {
    justify-content: space-between;
    margin-bottom: 5rem;
}

.subscription {
    width: 35rem;
    height: 58rem;
    justify-content: space-between;

    background-size: cover;
    border-radius: 1rem;

    &:hover {
        box-shadow: 0 0 2px $darkgrey;
    }

    &.free {
        background: url(../images/subscribe_1.png) center 100% no-repeat;
    }

    &.standart {
        background: url(../images/subscribe_2.png) center 100% no-repeat;
    }

    &.premium {
        background: url(../images/subscribe_3.png) center 100% no-repeat;
    }
}

.subscription-bottom {
    justify-content: space-between;
}

.subscription-price {
    justify-content: center;
    margin-bottom: 4rem;

    span {
        line-height: 1;
        &:last-child {
            margin-left: 1rem;
            line-height: 1.5;
        }
    }
}

.subscription-button {
    justify-content: center;

    button {
        box-sizing: border-box;
        width: 30rem;
        height: 7rem;

        border: 4px solid $white;
        border-radius: .4rem;
        background-color: transparent;
        color: $white;

        &:focus, &:hover {
            cursor: pointer;
            box-shadow: 0 0 2px $white;
        }
    }
}

.subscription-info {
    p {
        margin: 0 2rem;
    }
}

.item-info {
    margin: 0 3rem;
}


/*=====  News  =====*/
.news {
    justify-content: center;
}

.news-item {
    justify-content: flex-start;
    margin-bottom: 7rem;

    &:last-child {
        margin-bottom: 0;
    }
}

.news-item:nth-child(odd) {
    .news-block:nth-child(even) {
        .news-inner {
            margin-left: 10rem;
        }
    }
}
.news-item:nth-child(even) {
    .news-block:nth-child(odd) {
        .news-inner {
            margin-right: 10rem;
        }
    }
}

.news-content {
    max-width: 60rem;
    text-align: left;
}

.news-image {
    max-width: 57rem;

    img {
        width: 100%;
    }
}

.album-info {
    margin-bottom: 1.6rem;
    line-height: 2;
    color: #8C8C8C;
}

.album-release {
    margin-bottom: 4.5rem;

    img {
        margin-right: 2rem;
        border-radius: 50%;
        border: 1px solid $white;
    }

    span:first-of-type {
        color: $yellow;
        padding-right: 2rem;
        margin-right: 2rem;
        border-right: 1px solid $white;
    }

    span.date {
        color: #555555;
    }
}

.news-button {
    box-sizing: border-box;
    width: 13rem;
    height: 4rem;

    border: 1px solid $white;
    background-color: transparent;
    color: $white;

    &:focus, &:hover {
        cursor: pointer;
        box-shadow: 0 0 2px $white;
    }
}


/*=====  Application  =====*/
.application {
    justify-content: space-between;
}

.application-info {
    width: 57rem;
    text-align: left;
    line-height: 1.5;
    color: #999999;
}

.application-image {
    width: 60rem;
    justify-content: center;
}

.application-button button {
    box-sizing: border-box;
    width: 16rem;
    height: 5rem;
    border: none;
    border-radius: 5rem;
    background-color: $pink;
    color: $white;

    &:focus, &:hover {
        cursor: pointer;
        box-shadow: 0 0 2px $white;
    }
}
