@import "variables";


/*=====  Main Catalog =====*/

.main.catalog {
    background: $black;
    text-align: center;
    padding-top: 10rem;
}

.main-inner.catalog {
    .main-item {
        flex-wrap: wrap;
        justify-content: center;

        .item-title {
            text-align: left;
        }
    }
}

.main-block {
    flex-wrap: wrap;
    justify-content: flex-start;
}


/*=====  Popular  =====*/

.popular-track {
    justify-content: space-between;
}

.track-data {
    justify-content: flex-start;
}

.track-cover{
    margin-right: 1.5rem;

    img {
        width: 5rem;
        height: 5rem;
    }
}

.track-info {
    justify-content: center;
    text-align: left;

    .track-name {
        margin-bottom: .5rem;
    }

    .track-artist {
        color: $grey;
    }
}

.track-length {
    margin-right: 12.3rem;
    color: #8C8C8C;
}


/*=====  Didcography  =====*/

.discography-album {
    width: 25rem;
    margin-right: 5rem;
    justify-content: flex-start;

    &:nth-child(4n) {
        margin-right: 0;
    }
}

.album-data {
    justify-content: flex-start;
    text-align: left;
}

.album-cover {
    position: relative;
    margin-bottom: 1rem;
    img:first-child {
        width: 25rem;
        height: 25rem;
    }

    img:last-child {
        position: absolute;
        left: 1.5rem;
        bottom: 1rem;
        height: 2.5rem;
        filter: invert(1);
    }
}

.album-name {
    margin-bottom: 1rem;
}


/*=====  Similar  =====*/

.similar-artist {
    width: 25rem;
    margin-right: 5rem;
    justify-content: flex-start;

    &:nth-child(4n) {
        margin-right: 0;
    }
}

.artist-data {
    justify-content: flex-start;
    text-align: center;

    .artist-name {
        margin-bottom: 1rem;
    }

    .artist-fans {
        margin-bottom: 0;
    }
}

.artist-photo {
    margin-bottom: 1.5rem;
    img {
        width: 25rem;
        height: 25rem;
    }
}


