@import "variables";


/*=====  Main Catalog =====*/

.main.catalog {
    padding-top: 10rem;
}


/*=====  Popular  =====*/

.track-cover{
    margin-right: 1.5rem;

    img {
        width: 5rem;
        height: 5rem;
    }
}

.track-name {
    margin-bottom: .5rem;
}

.track-artist {
    color: $grey;
}

.track-length {
    margin-right: 12.3rem;
    color: #8C8C8C;
}


/*=====  Didcography  =====*/

.discography-album {
    width: 25rem;
    margin-right: 5rem;

    &:nth-child(4n) {
        margin-right: 0;
    }
}

.album-cover {
    position: relative;
    margin-bottom: 1rem;
    img:first-child {
        width: 25rem;
        height: 25rem;
    }

    img:last-child {
        position: absolute;
        left: 1.5rem;
        bottom: 1rem;
        height: 2.5rem;
        filter: invert(1);
    }
}

.album-name {
    margin-bottom: 1rem;
}


/*=====  Similar  =====*/

.similar-artist {
    width: 25rem;
    margin-right: 5rem;

    &:nth-child(4n) {
        margin-right: 0;
    }
}

.artist-name {
    margin-bottom: 1rem;
}

.artist-fans {
    margin-bottom: 0;
}

.artist-photo {
    margin-bottom: 1.5rem;
    img {
        width: 25rem;
        height: 25rem;
    }
}


