@import "variables";

@media (max-width : 1280px) {
    /*=====  Header  =====*/
    .header-nav {
        margin-right: 0;
    }


    /*=====  Index / Subscriptions  =====*/
    .subscription {
        width: 30%;
    }
    .subscription-button button {
        width: 75%;
    }

    /*=====  Catalog / Intro =====*/
    .intro-artist {
        justify-content: center;
    }

    /*=====  Catalog / Discography =====*/
    .discography-album {
        width: 25%;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin-right: 0;
        &:nth-child(4n) {
            margin-right: 0;
        }
    }
    .album-data {
        width: 95%;
    }
    .album-cover {
        img:first-child {
            width: 100%;
            height: 100%;
        }
    }

    /*=====  Catalog / Similar =====*/
    .similar-artist {
        width: 25%;
        justify-content: flex-start;
        margin-right: 0;
        &:nth-child(4n) {
            margin-right: 0;
        }
    }
    .artist-data {
        width: 95%;
    }
    .artist-photo {
        img {
            width: 100%;
            height: 100%;
        }
    }


    /*=====  Footer  =====*/
    .footer-info {
        justify-content: center;
    }
    .footer-info-inner {
        padding: 10rem 0;
    }
    .footer-links-inner {
        padding: 5rem 0;
    }
}

@media (max-width : 1024px) {
    /*=====  Header  =====*/
    .header-right {
        width: 40%;
    }
    .header-link {
        margin-left: 1.5rem;
    }
    .header-search form input {
        width: 22rem;
    }

    /*=====  Index / Intro  =====*/
    .intro-inner {
        margin: 0 auto;
    }
    .intro-title {
        font-size: 5rem;
    }
    .intro-subtitle {
        font-size: 2.5rem;
    }

    /*=====  Index / Subscriptions  =====*/
    .subscription {
        height: 46.5rem;
    }
    .subscription-type {
        margin-top: 2rem;
    }
    .subscription-button {
        font-size: 2rem;
    }
    .item-info {
        font-size: 2rem;
    }

    /*=====  Index / News  =====*/
    .news-item {
        margin-bottom: 5rem;
    }
    .news-block {
        &:nth-child(odd) {
            margin-right: 2rem;
        }

        &:nth-child(even) {
            margin-left: 2rem;
        }
    }

    .album-title {
        margin-bottom: 1.5rem;
        font-size: 3rem;
    }
    .album-info {
        font-size: 1.4rem;
    }
    .album-release {
        margin-bottom: 1.5rem;
    }

    /*=====  Index / Application  =====*/
    .application-block {
        font-size: 1.5rem;

        &:nth-child(odd) {
            margin-right: 2rem;
        }

        &:nth-child(even) {
            margin-left: 2rem;
        }
    }

    /*=====  Catalog / Popular =====*/
    .track-length {
        margin-right: 7.5rem;
    }

    /*=====  Catalog / Discography =====*/
    .discography-album {
        width: 33.33333%;
    }

    /*=====  Catalog / Similar =====*/
    .similar-artist {
        width: 33.33333%;
    }


    /*=====  Footer  =====*/
    .footer-info-inner {
        flex-wrap: wrap;
        justify-content: center;
    }
    .footer-info-item {
        width: 30%;
        margin-right: 0;
        &:last-child {
            width: 100%;
            margin-top: 4rem;
            text-align: center;
        }
    }
    .footer-list-item {
        margin-bottom: 1.5rem;
        &:last-child {
            margin-bottom: 0;
        }
    }
    .footer-links-inner {
        justify-content: center;
    }
    .footer-social {
        justify-content: center;
        .footer-social-link {
            margin-right: 2rem;
            &:last-child {
                margin-right: 0;
            }
        }
    }
}

@media (max-width : 768px) {
    /*=====  Header  =====*/
    .header-inner {
        flex-wrap: wrap;
    }
    .header-left {
        width: 50%;
        margin-bottom: 1rem;
    }
    .header-middle {
        width: 50%;
        justify-content: flex-end;
        margin-bottom: 1rem;
    }
    .header-right {
        width: 100%;
    }
    .header-search form input {
        width: 28rem;
    }

    /*=====  Index =====*/
    .main.index .container {
        .main-item {
            .item-title {
                margin-bottom: 5rem;
                font-size: 3rem;
            }
        }
    }

    /*=====  Index / Intro  =====*/
    .intro.index {
        padding-bottom: 15rem;
    }
    .intro-title {
        font-size: 4.2rem;
    }
    .intro-subtitle {
        margin-bottom: 4.5rem;
        font-size: 2.2rem;
    }
    .intro-text {
        margin-bottom: 4rem;
        font-size: 1.6rem;
    }
    .intro-form {
        width: 100%;
        justify-content: center;
    }
    .form-item {
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0;

        input {
            width: 100%;
            margin-bottom: 3rem;

            &:first-child {
                margin-right: 0;
            }
        }
    }

    /*=====  Index / Subscriptions  =====*/
    .subscriptions {
        flex-direction: column;
        justify-content: center;
        width: 28rem;
    }
    .subscription {
        width: 28rem;
        height: 46rem;
        margin-bottom: 5rem;
        &:last-child {
            margin-bottom: 0;
        }
    }
    .subscription-bottom {
        margin-bottom: 1.5rem;
    }
    .subscription-button {
        margin-bottom: 4rem;
    }
    .album-title {
        margin-bottom: 2.5rem;
    }
    .album-info {
        margin-bottom: 2.5rem;
    }
    .album-release {
        margin-bottom: 2.5rem;
        justify-content: center;
    }
    .item-info {
        font-size: 1.8rem;
    }

    /*=====  Index / News  =====*/
    .news-item {
        flex-wrap: wrap;
        justify-content: center;
    }
    .news-block {
        width: 100%;
        text-align: center;

        > img {
            margin: 0 auto 2rem;
        }

        &:nth-child(odd) {
            margin-right: 0;
        }

        &:nth-child(even) {
            margin-left: 0;
        }
    }
    .news-item:nth-child(even) {
        .news-block:nth-child(odd) {
            order: 2;
        }
    }

    .album-info {
        margin-bottom: 2.5rem;
        line-height: 2.2;
    }
    .album-release {
        span:first-of-type {
            padding-right: 4rem;
            margin-right: 4rem;
        }

    }
    .news-button {
        width: 28rem;
    }

    /*=====  Index / Application  =====*/
    .application {
        flex-wrap: wrap;
        justify-content: center;
    }
    .application-block {
        width: 100%;
        text-align: center;

        img {
            margin-bottom: 2.5rem;
        }

        &:nth-child(odd) {
            margin-right: 0;
            order: 2;
        }

        &:nth-child(even) {
            margin-left: 0;
        }
    }
    .application-button {
        width: 28rem;
    }


    /*=====  Catalog =====*/
    .main.catalog .container {
        .main-item {
            .item-title {
                font-size: 3.4rem;
            }
        }
    }

    /*=====  Catalog / Intro =====*/
    .intro {
        &.catalog {
            background-position: 75%;
            background-size: auto 100%;
            padding-top: 29.5rem;
            padding-bottom: 10rem;
        }
    }
    .intro-artist {
        justify-content: center;
        margin-top: 0;
        .artist-name {
            margin-bottom: 2.5rem;
            font-size: 4.8rem;
        }
        .artist-fans {
            font-size: 1.6rem;
            margin-bottom: 4rem;
        }
    }

    /*=====  Catalog / Popular =====*/
    .popular {
        flex-direction: column;
        justify-content: center;
    }
    .popular-track {
        width: 100%;
        margin-bottom: 2.5rem;

        &:last-child {
            margin-bottom: 0;
        }
    }
    .track-length {
        margin-right: 0;
    }

    /*=====  Catalog / Discography =====*/
    .discography-album {
        width: 50%;
        &:nth-child(2n) {
            justify-content: flex-end;
        }
    }
    .album-name {
        font-size: 1.8rem;
    }
    .album-year {
        font-size: 1.5rem;
    }

    /*=====  Catalog / Similar =====*/
    .similar-artist {
        width: 50%;
        margin-bottom: 5rem;
        &:nth-child(2n) {
            justify-content: flex-end;
        }
        &:nth-last-child(-n+2) {
            margin-bottom: 0;
        }
    }
    .artist-name {
        font-size: 1.8rem;
    }
    .artist-fans {
        font-size: 1.4rem;
    }


    /*=====  Footer  =====*/
    .footer-info-inner {
        justify-content: space-between;
    }
    .footer-info-item {
        width: 45%;
        &:last-child {
            width: 45%;
            margin-top: 0;
            text-align: left;
        }
        &:nth-child(1), &:nth-child(2) {
            margin-bottom: 4rem;
        }
    }
    .footer-list-item {
        margin-bottom: 2rem;
        &:last-child {
            margin-bottom: 0;
        }
    }
    .footer-social {
        justify-content: flex-start;
    }
}

@media (max-width : 565px) {
    /*=====  Header  =====*/
    .header-left {
        width: 100%;
        justify-content: flex-start;
        margin-bottom: 2rem;
    }
    .header-middle {
        order: 2;
        width: 100%;
        justify-content: flex-start;
    }
    .header-right {
        width: 100%;
        justify-content: flex-start;
        margin-bottom: 2rem;
    }
    .header-nav {
        width: 100%;
        flex-wrap: wrap;
    }
    .header-link {
        width: 100%;
        margin: 0 0 1rem;
    }


    /*=====  Index + Catalog =====*/
    .main.index, .main.catalog {
        .container {
            .main-item {
                .item-title {
                    font-size: 2.5rem;
                }
            }
        }
    }

    /*=====  Index / Intro  =====*/
    .intro.index {
        padding-top: 26.4rem;
        padding-bottom: 5rem;
    }
    .intro-title {
        font-size: 3.6rem;
    }
    .intro-subtitle {
        font-size: 1.8rem;
    }
    .intro-text {
        font-size: 1.4rem;
    }

    /*=====  Index / News  =====*/
    .album-cover {
        img:last-child {
            left: .5rem;
            bottom: .5rem;
            height: 1.5rem;
        }
    }
    .album-title {
        text-align: left;
    }
    .album-info {
        text-align: left;
    }

    /*=====  Index / Subscriptions  =====*/
    .item-info {
        font-size: 1.6rem;
    }

    /*=====  Catalog / Intro =====*/
    .intro-artist {
        .artist-name {
            font-size: 3rem;
        }
        .artist-fans {
            font-size: 1.4rem;
        }
        .intro-buttons {
            button {
                width: 28rem;
                margin-bottom: 2.5rem;
                margin-right: 0;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }

    /*=====  Catalog / Discography =====*/
    .album-name {
        font-size: 1.6rem;
        margin-bottom: .5rem;
    }
    .album-year {
        font-size: 1.4rem;
    }

    /*=====  Catalog / Similar =====*/
    .artist-name {
        font-size: 1.6rem;
    }
    .artist-fans {
        font-size: 1.2rem;
    }


    /*=====  Footer  =====*/
    .footer-inner {
        justify-content: center;
    }
    .footer-info-item {
        width: 100%;
        margin-bottom: 4rem;
        text-align: center;
        &:last-child {
            margin-bottom: 0;
            text-align: center;
            width: 100%;
        }
    }
    .footer-links-item {
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;

        .footer-list-link {
            width: 100%;
            margin-right: 0;
            margin-bottom: 2rem;
            text-align: center;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    .footer-social {
        justify-content: center;
    }
}

@media (max-width : 425px) {
    /*=====  Index + Catalog =====*/
    .main.index, .main.catalog {
        .container {
            .main-item {
                .item-title {
                    font-size: 2rem;
                }
            }
        }
    }

    /*=====  Index / Intro  =====*/
    .intro-title {
        font-size: 3rem;
    }
    .intro-text {
        font-size: 1.2rem;
    }

    /*=====  Index / Subscriptions  =====*/
    .item-info {
        font-size: 1.4rem;
    }

    /*=====  Index / Application  =====*/
    .application-block {
        img {
            width: 100%;
        }
    }

    /*=====  Footer  =====*/
    .footer-info-item {
        text-align: left;
        &:last-child {
            text-align: left;
        }
    }
    .footer-links-item .footer-list-link {
        text-align: left;
    }
    .footer-social {
        justify-content: flex-start;
    }
}

@media (max-width : 320px) {
    /*=====  Index / Subscriptions  =====*/
    .item-info {
        font-size: 1.2rem;
    }

    /*=====  Catalog / Discography =====*/
    .artist-data {
        width: 13rem;
    }

    /*=====  Catalog / Similar =====*/
    .album-data {
        width: 13rem;
    }
}
