@import "variables";

/* 1280px 1024px 768px (565px) 425p 375px 320px */

@media (max-width : 1280px) {
    /*=====  Header  =====*/
    .header-inner {
        padding: 0 2rem;
    }
    .header-nav {
        margin-right: 0;
    }

    /*=====  Index - Subscriptions  =====*/
    .subscriptions {
        width: 95%;
    }
    .subscription {
        width: 30%;
    }
    .subscription-button button {
        width: 75%;
    }

    /*=====  Index - News  =====*/
    .news {
        width: 95%;
    }
    .news-item {
        justify-content: space-around;
    }
    .news-item:nth-child(odd) {
        .news-block:nth-child(even) {
            .news-inner {
                margin-left: 7.5rem;
            }
        }
    }
    .news-item:nth-child(even) {
        .news-block:nth-child(odd) {
            .news-inner {
                margin-right: 7.5rem;
            }
        }
    }

    /*=====  Index - Application  =====*/
    .application {
        width: 95%;
    }

    /*=====  Footer  =====*/
    .footer-info {
        justify-content: center;
    }
    .footer-info-inner {
        width: 87.5%;
        padding: 10rem 2rem;
    }
    .footer-links-inner {
        width: 87.5%;
        padding: 5rem 2rem;
    }
}

@media (max-width : 1024px) {
    /*=====  Header  =====*/
    .header-right {
        width: 40%;
    }
    .header-link {
        margin-left: 1.5rem;
    }
    .header-search form input {
        width: 22rem;
    }

    /*=====  Intro  =====*/
    .intro-inner {
        width: 90%;
        margin: 0 auto;
    }
    .intro-title {
        font-size: 5rem;
    }
    .intro-subtitle {
        font-size: 2.5rem;
    }

    /*=====  Index - Subscriptions  =====*/
    .main.index {
        padding-top: 7.5rem;
    }
    .subscription {
        height: 46.5rem;
    }
    .subscription-type {
        margin-top: 2rem;
    }
    .subscription-button {
        font-size: 2rem;
    }
    .item-info {
        font-size: 2rem;
    }

    /*=====  Index - News  =====*/
    .news-item {
        margin-bottom: 5rem;
    }
    .news-item:nth-child(odd) {
        .news-block:nth-child(even) {
            .news-inner {
                margin-left: 5rem;
            }
        }
    }
    .news-item:nth-child(even) {
        .news-block:nth-child(odd) {
            .news-inner {
                margin-right: 5rem;
            }
        }
    }

    .album-title {
        margin-bottom: 1.5rem;
        font-size: 3rem;
    }
    .album-info {
        font-size: 1.4rem;
        line-height: 1.1;
    }
    .album-release {
        margin-bottom: 1.5rem;
    }

    /*=====  Index - Application  =====*/
    .application-info {
        font-size: 1.5rem;
    }
    .application-image {
        justify-content: flex-end;
    }

    /*=====  Footer  =====*/
    .footer-info-inner {
        flex-wrap: wrap;
        justify-content: center;
    }
    .footer-info-item {
        width: 30%;
        margin-right: 0;
        &:last-child {
            width: 100%;
            margin-top: 4rem;
            text-align: center;
        }
    }
    .footer-list-item {
        margin-bottom: 1.5rem;
        &:last-child {
            margin-bottom: 0;
        }
    }
    .footer-links-inner {
        justify-content: center;
    }
}

@media (max-width : 768px) {
    /*=====  Header  =====*/
    .header-inner {
        flex-wrap: wrap;
    }
    .header-left {
        width: 50%;
        margin-bottom: 1rem;
    }
    .header-middle {
        width: 50%;
        justify-content: flex-end;
        margin-bottom: 1rem;
    }
    .header-right {
        width: 100%;
    }
    .header-search form input {
        width: 28rem;
    }

    /*=====  Intro  =====*/
    .intro.index {
        align-items: flex-end;
        height: 73.8rem;
    }
    .intro-title {
        font-size: 4.5rem;
    }
    .intro-subtitle {
        margin-bottom: 4.5rem;
        font-size: 2.2rem;
    }
    .intro-text {
        margin-bottom: 4rem;
        font-size: 1.6rem;
    }
    .intro-form {
        width: 100%;
        justify-content: center;
    }
    .form-item {
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0;

        input {
            width: 87.5%;
            margin-bottom: 3rem
        }
    }
    .intro-button {
        width: 87.5%;
        margin-bottom: 5rem;
    }

    /*=====  Index - Subscriptions  =====*/
    .main-subscribe {
        .item-title {
            width: 87.5%;
            margin-bottom: 5rem;
            font-size: 3rem;
        }
    }
    .subscriptions {
        flex-direction: column;
        justify-content: center;
        width: 28rem;
    }
    .subscription {
        width: 28rem;
        height: 46rem;
        margin-bottom: 5rem;
        &:last-child {
            margin-bottom: 0;
        }
    }
    .subscription-bottom {
        margin-bottom: 1.5rem;
    }
    .subscription-button {
        margin-bottom: 4rem;
    }
    .album-title {
        margin-bottom: 2.5rem;
    }
    .album-info {
        margin-bottom: 2.5rem;
    }
    .album-release {
        margin-bottom: 2.5rem;
    }
    .album-release {
        justify-content: center;
    }
    .item-info {
        font-size: 1.8rem;
    }

    /*=====  Index - News  =====*/
    .main-news {
        .item-title {
            width: 87.5%;
            margin-bottom: 5rem;
            font-size: 3rem;
        }
    }
    .news {
        width: 87.5%;
    }
    .news-item {
        flex-wrap: wrap;
        justify-content: center;
    }
    .news-item:nth-child(odd) {
        .news-block:nth-child(even) {
            .news-inner {
                width: 100%;
                margin-left: 0;
            }
        }
    }
    .news-item:nth-child(even) {
        .news-block:nth-child(odd) {
            order: 2;
            .news-inner {
                width: 100%;
                margin-right: 0;
            }
        }
    }
    .news-image {
        margin-bottom: 2rem;
    }
    .news-block {
        width: 100%;
        text-align: center;
    }
    .album-info {
        margin-bottom: 2.5rem;
        line-height: 2.2;
    }
    .album-release {
        span:first-of-type {
            padding-right: 4rem;
            margin-right: 4rem;
        }

    }
    .news-button {
        width: 28rem;
    }

    /*=====  Index - Application  =====*/
    .main-application {
        .item-title {
            width: 87.5%;
            margin-bottom: 5rem;
            font-size: 3rem;
        }
    }
    .application {
        width: 87.5%;
        flex-wrap: wrap;
        justify-content: center;
    }
    .application-info {
        margin-bottom: 2.5rem;
        text-align: center;
        p:first-child {
            margin-bottom: 2.5rem;
        }
    }
    .application-image {
        width: 100%;
        justify-content: center;

        img {
            width: 28rem;
        }
    }
    .application-button {
        width: 100%;
        justify-content: center;

        button {
            width: 28rem;
        }
    }

    /*=====  Footer  =====*/
    .footer-info-inner {
        justify-content: space-between;
    }
    .footer-info-item {
        width: 45%;
        &:last-child {
            width: 45%;
            margin-top: 0;
            text-align: left;
        }
        &:nth-child(1), &:nth-child(2) {
            margin-bottom: 4rem;
        }
    }
    .footer-list-item {
        margin-bottom: 2rem;
        &:last-child {
            margin-bottom: 0;
        }
    }
}

@media (max-width : 565px) {
    /*=====  Header  =====*/
    .header-left {
        width: 100%;
        justify-content: flex-start;
        margin-bottom: 2rem;
    }
    .header-middle {
        order: 2;
        width: 100%;
        justify-content: flex-start;
    }
    .header-right {
        width: 100%;
        justify-content: flex-start;
        margin-bottom: 2rem;
    }
    .header-nav {
        width: 100%;
        flex-wrap: wrap;
    }
    .header-link {
        width: 100%;
        margin: 0 0 1rem;
    }

    /*=====  Intro  =====*/
    .intro-title {
        font-size: 3.6rem;
    }
    .intro-subtitle {
        font-size: 1.8rem;
    }

    /*=====  Index - Subscriptions  =====*/
    .main-subscribe {
        .item-title {
            font-size: 2rem;
        }
    }

    /*=====  Index - News  =====*/
    .main-news {
        .item-title {
            font-size: 2rem;
        }
    }
    .album-title {
        text-align: left;
    }
    .album-info {
        text-align: left;
    }

    /*=====  Index - Application  =====*/
    .main-application {
        .item-title {
            font-size: 2rem;
        }
    }

    /*=====  Footer  =====*/
    .footer-inner {
        justify-content: center;
    }

    .footer-info-item {
        width: 100%;
        margin-bottom: 4rem;
        text-align: center;
        &:last-child {
            margin-bottom: 0;
            text-align: center;
            width: 100%;
        }
    }
    .footer-links-item {
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;

        .footer-list-link {
            width: 100%;
            margin-right: 0;
            margin-bottom: 2rem;
            text-align: center;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

@media (max-width : 425px) {
    /*=====  Intro  =====*/
    .intro-title {
        font-size: 3rem;
        line-height: 1;
    }
    .intro-subtitle {
        font-size: 1.5rem;
        line-height: 1;
    }
    .intro-text {
        font-size: 1.4rem;
        line-height: 1;
    }

    /*=====  Footer  =====*/
    .footer-info-item {
        text-align: left;
        &:last-child {
            text-align: left;
        }
    }
    .footer-links-item .footer-list-link {
        text-align: left;
    }
}

@media (max-width : 375px) {
    /*=====  Intro  =====*/
    .intro-title {
        font-size: 2.8rem;
    }
    .intro-subtitle {
        font-size: 1.4rem;
    }

    /*=====  Index - Subscriptions  =====*/
    .subscription {
        width: 100%;
    }
}
