/*=====  Header  =====*/
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  margin-top: 2rem; }

.header-inner {
  justify-content: space-between;
  height: 100%;
  padding: 0; }

.header-left {
  width: 50%;
  justify-content: space-between; }

.header-nav {
  margin-right: 7.5rem; }

.header-logo-image img {
  height: 2rem;
  margin-right: .5rem; }

.header-logo-title .header-link {
  color: #FFF; }

.header-link {
  margin-left: 3rem;
  color: #808080; }
  .header-link.active {
    color: #FFF; }
  .header-link:first-child {
    margin-left: 0; }
  .header-link:hover {
    color: #FFF;
    transition: color .2s ease; }

.header-right {
  width: 50%;
  justify-content: flex-end; }

.header-search {
  background: #3C3B3D;
  border-radius: 3.1rem; }
  .header-search form {
    width: auto;
    position: relative; }
    .header-search form input {
      box-sizing: border-box;
      width: 28.1rem;
      height: 3.1rem;
      margin-left: 1.3rem;
      border-radius: 3.1rem;
      background: #3C3B3D;
      border: none;
      outline: none; }
      .header-search form input:focus {
        color: gray;
        font-size: 1.6rem; }
        .header-search form input:focus::placeholder {
          color: transparent; }
  .header-search button {
    position: absolute;
    background: none;
    border: none;
    top: .7rem;
    right: .7rem; }

/*=====  Intro  =====*/
.intro {
  background-size: cover;
  align-items: center; }
  .intro.index {
    height: 100vh;
    background: url(../images/banner.png) center 75% no-repeat; }
  .intro.catalog {
    height: 54rem;
    background: url(../images/Morten%20Harket.png) center 75% no-repeat; }

.intro-inner.index {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center; }
.intro-inner.catalog {
  justify-content: flex-end;
  width: 120rem; }

/*=====  Index  =====*/
.intro-info {
  width: 100%; }

.intro-title {
  width: 100%;
  margin-bottom: 1.5rem;
  line-height: 1.1; }

.intro-subtitle {
  width: 100%;
  margin-bottom: 4.5rem;
  line-height: 1.1; }

.intro-text {
  width: 100%;
  margin-bottom: 4rem;
  line-height: 1.1; }

.intro-form {
  width: 57rem;
  flex-direction: column; }

.form-item {
  justify-content: space-between;
  margin-bottom: 2rem; }
  .form-item input {
    box-sizing: border-box;
    width: 27rem;
    height: 5rem;
    padding-left: 2.5rem;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: .2rem;
    outline: none;
    background: rgba(255, 255, 255, 0.2);
    color: white; }
    .form-item input::placeholder {
      color: white; }
    .form-item input:focus {
      border: 1px solid rgba(255, 255, 255, 0.75); }
      .form-item input:focus::placeholder {
        color: transparent; }

.intro-button {
  width: 57rem;
  height: 5rem;
  border: 1px solid #34C176;
  background-color: #34C176;
  color: #FFF; }
  .intro-button:focus, .intro-button:hover {
    cursor: pointer;
    box-shadow: 0 0 2px #FFF; }

/*=====  Catalog =====*/
.intro-artist {
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20rem; }

.artist-name {
  margin-bottom: 2rem; }

.artist-fans {
  margin-bottom: 4rem; }

.intro-buttons button {
  box-sizing: border-box;
  width: 20rem;
  height: 5rem;
  border: none;
  color: #FFF;
  text-align: left; }
  .intro-buttons button.btn-mix {
    margin-right: 2rem;
    background: #5328A1; }
  .intro-buttons button.btn-fav {
    background: #95390C; }
  .intro-buttons button .btn-content {
    position: relative; }
    .intro-buttons button .btn-content img {
      position: absolute;
      top: -.3rem;
      left: 2rem;
      height: 2rem;
      filter: invert(1); }
    .intro-buttons button .btn-content span {
      margin-left: 5.5rem; }

/*=====  Main  =====*/
.main {
  background: #08020D;
  text-align: center;
  padding-top: 10rem; }

.main-inner {
  flex-direction: column; }

/*=====  Subscriptions  =====*/
.main-subscribe {
  margin-bottom: 10rem;
  flex-wrap: wrap;
  justify-content: center; }
  .main-subscribe .item-title {
    width: 100%;
    margin-bottom: 8rem; }
  .main-subscribe .item-info {
    width: 100%; }

.subscriptions {
  width: 100%;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-bottom: 3.8rem; }

.subscription {
  width: 35rem;
  height: 58rem;
  background-size: cover;
  border-radius: 1rem; }
  .subscription:hover {
    box-shadow: 0 0 2px #3C3B3D; }

.subscription.free {
  background: url(../images/subscribe_1.png) center 100% no-repeat; }

.subscription.standart {
  background: url(../images/subscribe_2.png) center 100% no-repeat; }

.subscription.premium {
  background: url(../images/subscribe_3.png) center 100% no-repeat; }

.subscription-type {
  margin-top: 2.5rem;
  margin-bottom: 22.5rem; }

.subscription-price {
  justify-content: center;
  margin-bottom: 4rem; }
  .subscription-price span {
    line-height: 1; }
    .subscription-price span:last-child {
      margin-left: 1rem;
      line-height: 1.5; }

.subscription-button {
  box-sizing: border-box;
  width: 30rem;
  height: 7rem;
  margin-bottom: 5rem;
  border: 4px solid #FFF;
  border-radius: .4rem;
  background-color: transparent;
  color: #FFF; }
  .subscription-button:focus, .subscription-button:hover {
    cursor: pointer;
    box-shadow: 0 0 2px #FFF; }

.subscription-info {
  margin: 0 2rem;
  letter-spacing: -.5px; }

.item-info {
  margin: 0 3rem; }

/*=====  News  =====*/
.main-news {
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 10rem; }
  .main-news .item-title {
    width: 100%;
    margin-bottom: 6.3rem; }

.news {
  width: 100%;
  flex-direction: column;
  justify-content: center; }

.news-item {
  width: 100%;
  justify-content: flex-start;
  margin-bottom: 3rem; }

.news-item:nth-child(odd) .news-block:nth-child(even) .news-inner {
  width: 45rem;
  margin-left: 10rem; }

.news-item:nth-child(even) .news-block:nth-child(odd) .news-inner {
  width: 45rem; }

.news-content {
  width: 50%;
  max-width: 60rem;
  text-align: left; }

.news-image {
  width: 50%;
  max-width: 57rem; }

.album-title {
  margin-top: 1rem;
  margin-bottom: 1.5rem; }

.album-info {
  margin-bottom: 2rem;
  line-height: 2;
  color: #8C8C8C; }

.album-release {
  align-items: center;
  margin-bottom: 4.5rem; }
  .album-release img {
    margin-right: 2rem;
    border-radius: 50%;
    border: 1px solid #FFF; }
  .album-release span:first-of-type {
    color: #F89202;
    padding-right: 2.2rem;
    margin-right: 2.5rem;
    border-right: 1px solid #FFF; }
  .album-release span.date {
    color: #555555; }

.news-button {
  box-sizing: border-box;
  width: 13rem;
  height: 4rem;
  margin-bottom: 2rem;
  border: 1px solid #FFF;
  background-color: transparent;
  color: #FFF; }
  .news-button:focus, .news-button:hover {
    cursor: pointer;
    box-shadow: 0 0 2px #FFF; }

/*=====  Application  =====*/
.main-application {
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 10rem; }
  .main-application .item-title {
    width: 100%;
    margin-bottom: 10rem; }

.application {
  width: 100%;
  justify-content: space-between; }

.application-info {
  width: 57rem;
  text-align: left;
  line-height: 1.5;
  color: #999999; }
  .application-info p {
    margin-bottom: 3rem; }

.application-image {
  width: 60rem;
  justify-content: center; }

.application-button button {
  box-sizing: border-box;
  width: 16rem;
  height: 5rem;
  border: none;
  border-radius: 5rem;
  background-color: #FF4157;
  color: #FFF; }
  .application-button button:focus, .application-button button:hover {
    cursor: pointer;
    box-shadow: 0 0 2px #FFF; }

/*=====  Footer  =====*/
.footer {
  background: linear-gradient(45deg, #5328A1, #95390C);
  color: #CACACA; }

.footer-inner {
  flex-direction: column; }

.footer-info {
  width: 100%;
  border-bottom: 1px solid #EEEEEE; }

.footer-info-inner {
  width: 100%;
  justify-content: space-between;
  padding: 9.2rem 0; }

.footer-info-title {
  margin-bottom: 3rem; }

.footer-list {
  list-style-type: none;
  padding: 0;
  margin: 0; }

.footer-list-item {
  margin-bottom: 2.1rem; }
  .footer-list-item:last-child {
    margin-bottom: 0; }

.footer-list-link {
  color: #CACACA; }
  .footer-list-link:hover {
    color: #FFF;
    transition: color .2s ease; }

.footer-list-social {
  margin-right: 2.8rem; }
  .footer-list-social:last-child {
    margin-right: 0; }

.footer-links-inner {
  width: 100%;
  justify-content: space-between;
  padding: 4rem 0; }
  .footer-links-inner .footer-list-link {
    margin: 0;
    margin-right: 4rem; }
    .footer-links-inner .footer-list-link:last-child {
      margin-right: 0; }

/*=====  Basic  =====*/
html {
  font-size: 10px;
  margin: 0;
  padding: 0; }

body {
  margin: 0;
  padding: 0;
  font-family: "MyriadPro", sans-serif;
  color: #FFF;
  background-color: #08020D;
  position: relative; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0; }

p {
  margin: 0;
  padding: 0; }

.container {
  max-width: 120rem;
  margin: 0 auto; }

.flex {
  display: flex; }

.ai-center {
  align-items: center; }

.w-100 {
  width: 100%; }

.btn {
  font-family: "MyriadPro", sans-serif;
  outline: none; }

/*===== Text styles =====*/
.tt-upper {
  text-transform: uppercase; }

.td-none {
  text-decoration: none; }

.fw-light {
  font-weight: 300; }

.fw-bold {
  font-weight: 700; }

.fs-7 {
  font-size: .7rem; }

.fs-11 {
  font-size: 1.1rem; }

.fs-12 {
  font-size: 1.2rem; }

.fs-14 {
  font-size: 1.4rem; }

.fs-16 {
  font-size: 1.6rem; }

.fs-18 {
  font-size: 1.8rem; }

.fs-22 {
  font-size: 2.2rem; }

.fs-24 {
  font-size: 2.4rem; }

.fs-30 {
  font-size: 3rem; }

.fs-38 {
  font-size: 3.8rem; }

.fs-60 {
  font-size: 6rem; }

/* 1280px 1024px 768px (565px) 425p 375px 320px */
@media (max-width: 1280px) {
  /*=====  Header  =====*/
  .header-inner {
    padding: 0 2rem; }

  .header-nav {
    margin-right: 0; }

  /*=====  Subscriptions  =====*/
  .subscriptions {
    width: 95%; }

  .subscription {
    width: 30%; }

  .subscription-button {
    width: 80%; }

  /*=====  News  =====*/
  .news {
    width: 95%; }

  .news-item {
    justify-content: space-around; }

  .news-item:nth-child(odd) .news-block:nth-child(even) .news-inner {
    width: 95%;
    margin-left: 5rem; }

  .news-item:nth-child(even) .news-block:nth-child(odd) .news-inner {
    width: 95%; }

  .news-block {
    width: 50%; }

  .news-image img {
    width: 100%; }

  /*=====  Application  =====*/
  .application {
    width: 95%; }

  /*=====  Footer  =====*/
  .footer-info {
    justify-content: center; }

  .footer-info-inner {
    width: 90%;
    padding: 4rem 2rem; }

  .footer-links-inner {
    width: 90%;
    padding: 4rem 2rem; } }
@media (max-width: 1024px) {
  /*=====  Header  =====*/
  .header-left {
    width: 60%; }

  .header-right {
    width: 40%; }

  .header-link {
    margin-left: 2rem; }

  .header-search form input {
    width: 22rem; }

  /*=====  Subscriptions  =====*/
  .main {
    padding-top: 5rem; }

  .main-subscribe .item-title {
    margin-bottom: 5rem; }

  .subscription {
    height: 45rem; }

  .subscription-type {
    margin-top: 2rem;
    margin-bottom: 10rem; }

  .subscription-button {
    font-size: 2rem; }

  /*=====  News  =====*/
  .main-news .item-title {
    margin-bottom: 5rem; }

  .album-release {
    margin-bottom: 2rem; }

  /*=====  Application  =====*/
  .main-application .item-title {
    margin-bottom: 5rem; }

  .application-info {
    width: 50%; }

  .application-image {
    width: 50%;
    justify-content: flex-end; }

  /*=====  Footer  =====*/
  .footer-info-inner {
    flex-wrap: wrap;
    justify-content: center; }

  .footer-info-item {
    width: 33%; }
    .footer-info-item:last-child {
      width: 100%;
      margin-top: 4rem;
      text-align: center; }

  .footer-list-item {
    margin-bottom: 1.5rem; }
    .footer-list-item:last-child {
      margin-bottom: 0; } }
@media (max-width: 768px) {
  /*=====  Header  =====*/
  .header-inner {
    flex-wrap: wrap; }

  .header-left {
    width: 100%;
    margin-bottom: 2rem; }

  .header-right {
    width: 100%; }

  .header-search form input {
    width: 28.1rem; }

  /*=====  Intro  =====*/
  .intro-title {
    width: 80vw;
    font-size: 4.5rem; }

  .intro-subtitle {
    width: 80vw;
    font-size: 2.2rem; }

  .intro-inner {
    width: 80vw; }

  .intro-text {
    margin-bottom: 2rem;
    font-size: 1.6rem; }

  .intro-form {
    width: 100vw;
    justify-content: center; }

  .form-item {
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0; }
    .form-item input {
      width: 80vw;
      margin-bottom: 1rem; }

  .intro-button {
    width: 80vw;
    margin-bottom: 1rem; }

  /*=====  Subscriptions  =====*/
  .main-subscribe .item-title {
    margin-bottom: 3rem; }

  .main-item {
    margin-bottom: 5rem; }

  .subscriptions {
    flex-wrap: wrap;
    justify-content: center;
    width: 50%; }

  .subscription {
    width: 100%;
    max-width: 35rem;
    height: 45rem;
    margin-bottom: 2rem; }
    .subscription:last-child {
      margin-bottom: 0; }

  .album-release {
    justify-content: center; }

  /*=====  News  =====*/
  .news-item {
    flex-wrap: wrap;
    justify-content: center; }

  .news-item:nth-child(odd) .news-block:nth-child(even) .news-inner {
    width: 100%;
    margin-left: 0; }

  .news-item:nth-child(even) .news-block:nth-child(odd) {
    order: 2; }
    .news-item:nth-child(even) .news-block:nth-child(odd) .news-inner {
      width: 100%; }

  .news-block {
    width: 100%;
    text-align: center; }

  .album-info {
    margin-bottom: 1rem;
    line-height: 1.1; }

  /*=====  Application  =====*/
  .main-application {
    margin-bottom: 5rem; }

  .application {
    flex-wrap: wrap;
    justify-content: center; }

  .application-info {
    width: 100%;
    margin-bottom: 4rem;
    text-align: center; }
    .application-info p:first-child {
      margin-bottom: 1.5rem; }

  .application-image {
    width: 100%;
    justify-content: center; }

  .application-button {
    width: 100%;
    justify-content: center; }

  /*=====  Footer  =====*/
  .footer-info-inner {
    width: 80%;
    padding: 3rem 1.5rem;
    justify-content: space-between; }

  .footer-info-item {
    width: 45%; }
    .footer-info-item:last-child {
      width: 45%;
      margin-top: 0;
      text-align: left; }
    .footer-info-item:nth-child(1), .footer-info-item:nth-child(2) {
      margin-bottom: 4rem; }

  .footer-info-title {
    margin-bottom: 1.5rem; }

  .footer-list-item {
    margin-bottom: 1rem; }
    .footer-list-item:last-child {
      margin-bottom: 1rem; }

  .footer-links-inner {
    padding: 2rem 0;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap; }
    .footer-links-inner .footer-links-item {
      width: 100%; }
      .footer-links-inner .footer-links-item:first-child {
        margin-bottom: 1.5rem; }
    .footer-links-inner .footer-list-link {
      margin-right: 2rem; } }
@media (max-width: 565px) {
  /*=====  Header  =====*/
  .header {
    background: rgba(8, 2, 13, 0.7);
    height: auto;
    margin-top: 0; }

  .header-left {
    width: 100%;
    flex-wrap: wrap;
    margin-bottom: 0; }

  .header-right {
    width: 100%;
    justify-content: flex-start;
    margin-bottom: 1rem; }

  .header-logo {
    width: 100%;
    margin: 1rem 0; }

  .header-nav {
    width: 100%;
    flex-wrap: wrap; }

  .header-link {
    width: 100%;
    margin: 0 0 1rem; }

  .header-search form input {
    width: 100%; }

  /*=====  Intro  =====*/
  .intro-title {
    padding-top: 15rem;
    font-size: 3.6rem; }

  .intro-subtitle {
    font-size: 1.8rem; }

  /*=====  Subscriptions  =====*/
  .subscriptions {
    width: 100%; }

  /*=====  News  =====*/
  .main-news .item-title {
    width: 90%; }

  /*=====  Footer  =====*/
  .footer-info-item {
    width: 100%;
    margin-bottom: 3rem;
    text-align: center; }
    .footer-info-item:last-child {
      text-align: center;
      width: 100%; } }
@media (max-width: 425px) {
  /*=====  Intro  =====*/
  .intro-title {
    font-size: 3rem;
    line-height: 1; }

  .intro-subtitle {
    font-size: 1.5rem;
    line-height: 1; }

  .intro-text {
    font-size: 1.4rem;
    line-height: 1; }

  /*=====  Subscriptions  =====*/
  .subscriptions {
    width: 100%; }

  /*=====  Footer  =====*/
  .footer-links-inner .footer-list-link {
    margin-right: .5rem; } }
@media (max-width: 375px) {
  /*=====  Intro  =====*/
  .intro-title {
    font-size: 2.8rem; }

  .intro-subtitle {
    font-size: 1.4rem; }

  /*=====  Subscriptions  =====*/
  .subscription {
    max-width: 30rem; } }

/*# sourceMappingURL=style.css.map */
