/*=====  Basic  =====*/
html {
  font-size: 10px;
  margin: 0;
  padding: 0; }

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  color: #FFF;
  background-color: #08020D;
  position: relative; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  line-height: 1.1;
  font-weight: 700; }

h1, h2 {
  text-transform: uppercase; }

h1 {
  font-size: 6rem; }

h2 {
  font-size: 3.8rem; }

h3 {
  font-size: 1.8rem; }

p {
  margin: 0;
  padding: 0; }

.container {
  max-width: 124rem;
  box-sizing: border-box;
  padding: 0 2rem;
  margin: 0 auto; }

.d-inline-block {
  display: inline-block; }

.d-flex {
  display: flex; }

.flex-column {
  flex-direction: column; }

.flex-start {
  justify-content: flex-start; }

.flex-end {
  justify-content: flex-end; }

.flex-space-btw {
  justify-content: space-between; }

.flex-center {
  justify-content: center; }

.flex-wrap {
  flex-wrap: wrap; }

.ai-center {
  align-items: center; }

.w-25 {
  width: 25%; }

.w-50 {
  width: 50%; }

.w-100 {
  width: 100%; }

.mb-25 {
  margin-bottom: 2.5rem; }

.mb-50 {
  margin-bottom: 5rem; }

.mb-100 {
  margin-bottom: 10rem; }

.mt-25 {
  margin-top: 2.5rem; }

.mt-50 {
  margin-top: 5rem; }

.mt-100 {
  margin-top: 10rem; }

.mr-20 {
  margin-right: 2rem; }

.btn {
  padding: 0;
  outline: none;
  border: 1px solid #FFF;
  box-sizing: border-box;
  background: 0;
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
  font-weight: 700;
  color: #FFF;
  text-transform: uppercase; }
  .btn:focus, .btn:hover {
    cursor: pointer;
    box-shadow: 0 0 2px #FFF;
    transition: box-shadow .2s ease; }

/*===== Text styles =====*/
.ta-center {
  text-align: center; }

.ta-left {
  text-align: left; }

.tt-upper {
  text-transform: uppercase; }

.td-none {
  text-decoration: none; }

.fw-light {
  font-weight: 300; }

.fw-bold {
  font-weight: 700; }

.fz-7 {
  font-size: .7rem; }

.fz-11 {
  font-size: 1.1rem; }

.fz-12 {
  font-size: 1.2rem; }

.fz-14 {
  font-size: 1.4rem; }

.fz-16 {
  font-size: 1.6rem; }

.fz-18 {
  font-size: 1.8rem; }

.fz-20 {
  font-size: 2rem; }

.fz-22 {
  font-size: 2.2rem; }

.fz-24 {
  font-size: 2.4rem; }

.fz-30 {
  font-size: 3rem; }

.fz-38 {
  font-size: 3.8rem; }

.fz-60 {
  font-size: 6rem; }

/*=====  Header  =====*/
.header {
  position: absolute;
  top: 2.5rem;
  left: 0;
  width: 100%; }

.header-inner {
  height: 100%; }

.header-left {
  position: relative; }

.header-image {
  position: absolute;
  top: -.25rem;
  left: 0;
  height: 2rem; }

.header-nav {
  font-size: 1.1rem;
  font-weight: 700;
  text-transform: uppercase; }

.header-link {
  margin-left: 3rem;
  color: #808080;
  text-decoration: none; }
  .header-link.header-title {
    margin-left: 2.5rem;
    color: #FFF; }
  .header-link.active {
    color: #FFF; }
  .header-link:first-child {
    margin-left: 0; }
  .header-link:hover {
    color: #FFF;
    transition: color .2s ease; }

.header-search {
  width: 28rem;
  margin-left: auto;
  margin-right: 0; }
  .header-search input {
    box-sizing: border-box;
    width: 100%;
    height: 3rem;
    padding-left: 1.4rem;
    border-radius: 3rem;
    border: none;
    outline: none; }
    .header-search input:focus {
      padding-left: 1.4rem;
      font-size: 1.2rem; }
      .header-search input:focus::placeholder {
        color: transparent; }
  .header-search .search-dark {
    background: #3C3B3D;
    color: gray; }
    .header-search .search-dark:focus {
      color: gray; }
  .header-search .search-light {
    background: #FFF;
    color: #3c3b3d; }
    .header-search .search-light:focus {
      color: #3c3b3d; }

/*=====  Intro  =====*/
.intro.index {
  padding-top: 27.2rem;
  padding-bottom: 25.4rem;
  background: url(../images/banner.png) center 75% no-repeat;
  background-size: cover; }
.intro.catalog {
  padding-top: 28rem;
  padding-bottom: 8.2rem;
  background: url(../images/Morten%20Harket.png) center 75% no-repeat;
  background-size: cover; }

.intro-inner .intro-form {
  margin: 0 auto; }

/*=====  Index / Intro =====*/
.intro-title {
  margin-bottom: 1rem; }

.intro-subtitle {
  margin-bottom: 4.5rem; }

.intro-text {
  margin-bottom: 4rem; }

.form-item {
  margin-bottom: 3rem; }
  .form-item input {
    box-sizing: border-box;
    width: 27rem;
    height: 5rem;
    padding-left: 2.5rem;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: .2rem;
    outline: none;
    background: rgba(255, 255, 255, 0.2);
    color: white; }
    .form-item input:first-child {
      margin-right: 3rem; }
    .form-item input::placeholder {
      color: white; }
    .form-item input:focus {
      border: 1px solid rgba(255, 255, 255, 0.75); }
      .form-item input:focus::placeholder {
        color: transparent; }

.btn-access {
  width: 100%;
  height: 5rem;
  border-color: #34C176;
  background-color: #34C176; }

/*=====  Catalog / Intro =====*/
.intro-artist {
  flex-wrap: wrap; }
  .intro-artist .artist-name {
    margin-bottom: 2.5rem;
    line-height: 1; }
  .intro-artist .artist-fans {
    margin-bottom: 4rem;
    line-height: 1; }

.btn-mix, .btn-fav {
  position: relative;
  width: 20rem;
  height: 5rem;
  border: none;
  font-size: 1.4rem;
  font-weight: 300;
  text-align: left; }
  .btn-mix img, .btn-fav img {
    position: absolute;
    top: 1.4rem;
    left: 2rem;
    height: 2rem;
    filter: invert(1); }
  .btn-mix span, .btn-fav span {
    margin-left: 5.5rem; }

.btn-mix {
  background: #5328A1; }

.btn-fav {
  background: #95390C; }

/*=====  Main Index =====*/
.main.index {
  padding-top: 10rem; }

/*=====  Subscriptions  =====*/
.subscriptions {
  margin: 0 auto 5rem; }

.subscription {
  width: 35rem;
  height: 58rem;
  background-size: cover;
  border-radius: 1rem; }
  .subscription:hover {
    box-shadow: 0 0 2px #3C3B3D; }
  .subscription.free {
    background: url(../images/subscribe_1.png) center 100% no-repeat; }
  .subscription.standart {
    background: url(../images/subscribe_2.png) center 100% no-repeat; }
  .subscription.premium {
    background: url(../images/subscribe_3.png) center 100% no-repeat; }

.subscription-price {
  margin-bottom: 4rem; }
  .subscription-price span {
    line-height: 1; }
    .subscription-price span:last-child {
      margin-left: 1rem;
      line-height: 1.5; }

.btn-sub {
  width: 30rem;
  height: 7rem;
  border-width: .4rem;
  border-radius: .4rem;
  background-color: transparent;
  font-size: 2.4rem;
  font-weight: 300; }

.subscription-info p {
  margin: 0 2rem; }

/*=====  News  =====*/
.news-item {
  margin-bottom: 7rem; }
  .news-item:last-child {
    margin-bottom: 0; }

.news-block > img {
  width: 100%; }
.news-block:nth-child(odd) {
  margin-right: 3rem; }
.news-block:nth-child(even) {
  margin-left: 3rem; }

.album-info {
  margin-bottom: 1.6rem;
  line-height: 2;
  color: #8C8C8C; }

.album-release {
  margin-bottom: 4.5rem; }
  .album-release img {
    margin-right: 2rem;
    border-radius: 50%;
    border: 1px solid #FFF; }
  .album-release span:first-of-type {
    color: #F89202;
    padding-right: 2rem;
    margin-right: 2rem;
    border-right: 1px solid #FFF; }
  .album-release span.date {
    color: #555555; }

.btn-album {
  width: 13rem;
  height: 4rem;
  font-size: 1.2rem;
  color: #8C8C8C;
  border-color: #E9E9E9; }

/*=====  Application  =====*/
.application-block {
  line-height: 1.5;
  color: #999999; }
  .application-block > img {
    margin: 0 auto; }
  .application-block:nth-child(odd) {
    margin-right: 3rem; }
  .application-block:nth-child(even) {
    margin-left: 3rem; }

.btn-app {
  width: 17.5rem;
  height: 5rem;
  border: none;
  border-radius: 5rem;
  background-color: #FF4157;
  text-transform: capitalize;
  font-weight: 300; }

/*=====  Main Catalog =====*/
.main.catalog {
  padding-top: 10rem; }

/*=====  Popular  =====*/
.track-cover {
  margin-right: 1.5rem; }
  .track-cover img {
    width: 5rem;
    height: 5rem; }

.track-name {
  margin-bottom: .5rem; }

.track-artist {
  color: #808080; }

.track-length {
  margin-right: 12.3rem;
  color: #8C8C8C; }

/*=====  Didcography  =====*/
.discography-album {
  width: 25rem;
  margin-right: 5rem; }
  .discography-album:nth-child(4n) {
    margin-right: 0; }

.album-cover {
  position: relative;
  margin-bottom: 1rem; }
  .album-cover img:first-child {
    width: 25rem;
    height: 25rem; }
  .album-cover img:last-child {
    position: absolute;
    left: 1.5rem;
    bottom: 1rem;
    height: 2.5rem;
    filter: invert(1); }

.album-name {
  margin-bottom: 1rem; }

/*=====  Similar  =====*/
.similar-artist {
  width: 25rem;
  margin-right: 5rem; }
  .similar-artist:nth-child(4n) {
    margin-right: 0; }

.artist-name {
  margin-bottom: 1rem; }

.artist-fans {
  margin-bottom: 0; }

.artist-photo {
  margin-bottom: 1.5rem; }
  .artist-photo img {
    width: 25rem;
    height: 25rem; }

/*=====  Footer  =====*/
.footer {
  background: linear-gradient(90deg, #5328A1, #95390C);
  color: #CACACA; }

.footer-inner:first-child {
  border-bottom: 1px solid #EEEEEE; }

.footer-info {
  padding-top: 8rem;
  padding-bottom: 10rem; }

.footer-info-item {
  margin-right: 10rem; }
  .footer-info-item:last-child {
    margin-right: 0; }

.footer-info-title {
  margin-bottom: 3rem; }

.footer-list {
  list-style-type: none;
  padding: 0;
  margin: 0; }

.footer-list-item {
  margin-bottom: 2rem; }
  .footer-list-item:last-child {
    margin-bottom: 0; }

.footer-list-link {
  color: #CACACA; }
  .footer-list-link:hover {
    color: #FFF;
    transition: color .2s ease; }

.footer-social .footer-list-link {
  margin-right: 2rem;
  vertical-align: middle; }
  .footer-social .footer-list-link:last-child {
    margin-right: 0; }

.footer-links {
  padding-top: 5rem;
  padding-bottom: 5rem; }
  .footer-links .footer-list-link {
    margin: 0;
    margin-right: 4rem; }
    .footer-links .footer-list-link:last-child {
      margin-right: 0; }

@media (max-width: 1280px) {
  /*=====  Header  =====*/
  .header-nav {
    margin-right: 0; }

  /*=====  Index / Subscriptions  =====*/
  .subscription {
    width: 30%; }

  .btn-sub {
    width: 87.5%; }

  /*=====  Catalog / Discography =====*/
  .discography-album {
    width: 25%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-right: 0; }
    .discography-album:nth-child(4n) {
      margin-right: 0; }

  .album-data {
    width: 95%; }

  .album-cover img:first-child {
    width: 100%;
    height: 100%; }

  /*=====  Catalog / Similar =====*/
  .similar-artist {
    width: 25%;
    justify-content: flex-start;
    margin-right: 0; }
    .similar-artist:nth-child(4n) {
      margin-right: 0; }

  .artist-data {
    width: 95%; }

  .artist-photo img {
    width: 100%;
    height: 100%; }

  /*=====  Footer  =====*/
  .footer-info {
    justify-content: space-between; }

  .footer-info-item {
    margin-right: 0; }
    .footer-info-item:last-child {
      margin-right: 0; } }
@media (max-width: 1024px) {
  /*=====  Header  =====*/
  .header-link {
    margin-left: 1.5rem; }

  .header-right {
    width: 40%; }

  /*=====  Index / Intro  =====*/
  .intro-inner {
    margin: 0 auto; }

  .intro-title {
    font-size: 5rem; }

  .intro-subtitle {
    font-size: 2.5rem; }

  /*=====  Index / Subscriptions  =====*/
  .subscription {
    height: 46.5rem; }

  .subscription-type {
    margin-top: 2rem; }

  .btn-sub {
    font-size: 2rem; }

  .item-info {
    font-size: 2rem; }

  /*=====  Index / News  =====*/
  .news-item {
    margin-bottom: 5rem; }

  .news-block:nth-child(odd) {
    margin-right: 2rem; }
  .news-block:nth-child(even) {
    margin-left: 2rem; }

  .album-title {
    margin-bottom: 1.5rem;
    font-size: 3rem; }

  .album-info {
    font-size: 1.4rem; }

  .album-release {
    margin-bottom: 1.5rem; }

  /*=====  Index / Application  =====*/
  .application-block {
    font-size: 1.5rem; }
    .application-block:nth-child(odd) {
      margin-right: 2rem; }
    .application-block:nth-child(even) {
      margin-left: 2rem; }

  /*=====  Catalog / Popular =====*/
  .track-length {
    margin-right: 7.5rem; }

  /*=====  Catalog / Discography =====*/
  .discography-album {
    width: 33.33333%; }

  /*=====  Catalog / Similar =====*/
  .similar-artist {
    width: 33.33333%; }

  /*=====  Footer  =====*/
  .footer-info {
    flex-wrap: wrap;
    justify-content: center; }

  .footer-info-item {
    width: 30%;
    margin-right: 0; }
    .footer-info-item:last-child {
      width: 100%;
      margin-top: 4rem;
      text-align: center; }

  .footer-list-item {
    margin-bottom: 1.5rem; }
    .footer-list-item:last-child {
      margin-bottom: 0; } }
@media (max-width: 768px) {
  /*=====  Header  =====*/
  .header-inner {
    flex-wrap: wrap; }

  .header-left {
    width: 100%;
    margin-bottom: 2rem; }

  .header-middle {
    order: 2;
    width: 100%; }

  .header-right {
    width: 100%;
    margin-bottom: 2rem; }
    .header-right .header-search {
      margin-left: 0; }

  .header-nav {
    width: 100%;
    flex-wrap: wrap; }

  .header-link {
    width: 100%;
    margin: 0 0 1rem; }

  /*=====  Index =====*/
  .main.index .container .main-item .item-title {
    margin-bottom: 5rem;
    font-size: 3rem; }

  /*=====  Index / Intro  =====*/
  .intro.index {
    padding-bottom: 15rem; }

  .intro-title {
    font-size: 4.2rem; }

  .intro-subtitle {
    margin-bottom: 4.5rem;
    font-size: 2.2rem; }

  .intro-text {
    margin-bottom: 4rem;
    font-size: 1.6rem; }

  .intro-form {
    width: 100%;
    justify-content: center; }

  .form-item {
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0; }
    .form-item input {
      width: 100%;
      margin-bottom: 3rem; }
      .form-item input:first-child {
        margin-right: 0; }

  /*=====  Index / Subscriptions  =====*/
  .subscriptions {
    flex-direction: column;
    justify-content: center;
    width: 28rem; }

  .subscription {
    width: 28rem;
    height: 46rem;
    margin-bottom: 5rem; }
    .subscription:last-child {
      margin-bottom: 0; }

  .subscription-bottom {
    margin-bottom: 1.5rem; }

  .btn-sub {
    width: 24rem;
    margin-bottom: 4rem; }

  .album-title {
    margin-bottom: 2.5rem; }

  .album-info {
    margin-bottom: 2.5rem; }

  .album-release {
    margin-bottom: 2.5rem;
    justify-content: center; }

  .item-info {
    font-size: 1.8rem; }

  /*=====  Index / News  =====*/
  .news-item {
    flex-wrap: wrap;
    justify-content: center; }

  .news-block {
    width: 100%;
    text-align: center; }
    .news-block > img {
      margin: 0 auto 2rem; }
    .news-block:nth-child(odd) {
      margin-right: 0; }
    .news-block:nth-child(even) {
      margin-left: 0; }

  .news-item:nth-child(even) .news-block:nth-child(odd) {
    order: 2; }

  .album-info {
    margin-bottom: 2.5rem;
    line-height: 2.2; }

  .album-release span:first-of-type {
    padding-right: 4rem;
    margin-right: 4rem; }

  .btn-album {
    width: 28rem; }

  /*=====  Index / Application  =====*/
  .application {
    flex-wrap: wrap;
    justify-content: center; }

  .application-block {
    width: 100%;
    text-align: center; }
    .application-block img {
      margin-bottom: 2.5rem; }
    .application-block:nth-child(odd) {
      margin-right: 0;
      order: 2; }
    .application-block:nth-child(even) {
      margin-left: 0; }

  .btn-app {
    width: 28rem; }

  /*=====  Catalog =====*/
  .main.catalog .container .main-item .item-title {
    font-size: 3.4rem; }

  /*=====  Catalog / Intro =====*/
  .intro.catalog {
    background-position: 75%;
    background-size: auto 100%;
    padding-top: 29.5rem;
    padding-bottom: 10rem; }

  .intro-artist {
    margin-top: 0; }
    .intro-artist .artist-name {
      margin-bottom: 2.5rem;
      font-size: 4.8rem; }
    .intro-artist .artist-fans {
      font-size: 1.6rem;
      margin-bottom: 4rem; }

  /*=====  Catalog / Popular =====*/
  .popular {
    flex-direction: column;
    justify-content: center; }

  .popular-track {
    width: 100%;
    margin-bottom: 2.5rem; }
    .popular-track:last-child {
      margin-bottom: 0; }

  .track-length {
    margin-right: 0; }

  /*=====  Catalog / Discography =====*/
  .discography-album {
    width: 50%; }
    .discography-album:nth-child(2n) {
      justify-content: flex-end; }

  .album-name {
    font-size: 1.8rem; }

  .album-year {
    font-size: 1.5rem; }

  /*=====  Catalog / Similar =====*/
  .similar-artist {
    width: 50%;
    margin-bottom: 5rem; }
    .similar-artist:nth-child(2n) {
      justify-content: flex-end; }
    .similar-artist:nth-last-child(-n+2) {
      margin-bottom: 0; }

  .artist-name {
    font-size: 1.8rem; }

  .artist-fans {
    font-size: 1.4rem; }

  /*=====  Footer  =====*/
  .footer-info {
    justify-content: space-between; }

  .footer-info-item {
    width: 45%; }
    .footer-info-item:last-child {
      width: 45%;
      margin-top: 0;
      text-align: left; }
    .footer-info-item:nth-child(1), .footer-info-item:nth-child(2) {
      margin-bottom: 4rem; }

  .footer-list-item {
    margin-bottom: 2rem; }
    .footer-list-item:last-child {
      margin-bottom: 0; } }
@media (max-width: 565px) {
  /*=====  Index + Catalog =====*/
  .main.index .container .main-item .item-title, .main.catalog .container .main-item .item-title {
    font-size: 2.5rem; }

  /*=====  Index / Intro  =====*/
  .intro.index {
    padding-top: 26.4rem;
    padding-bottom: 5rem; }

  .intro-title {
    font-size: 3.6rem; }

  .intro-subtitle {
    font-size: 1.8rem; }

  .intro-text {
    font-size: 1.4rem; }

  /*=====  Index / News  =====*/
  .album-cover img:last-child {
    left: .5rem;
    bottom: .5rem;
    height: 1.5rem; }

  .album-title {
    text-align: left; }

  .album-info {
    text-align: left; }

  /*=====  Index / Subscriptions  =====*/
  .item-info {
    font-size: 1.6rem; }

  /*=====  Catalog / Intro =====*/
  .intro-artist .artist-name {
    font-size: 3rem; }
  .intro-artist .artist-fans {
    font-size: 1.4rem; }
  .intro-artist .btn-mix, .intro-artist .btn-fav {
    width: 28rem;
    margin-right: 0; }
  .intro-artist .btn-mix {
    margin-bottom: 2.5rem; }
  .intro-artist .btn-fav {
    margin-bottom: 0; }

  /*=====  Catalog / Discography =====*/
  .album-name {
    font-size: 1.6rem;
    margin-bottom: .5rem; }

  .album-year {
    font-size: 1.4rem; }

  /*=====  Catalog / Similar =====*/
  .artist-name {
    font-size: 1.6rem; }

  .artist-fans {
    font-size: 1.2rem; }

  /*=====  Footer  =====*/
  .footer-info-item {
    width: 100%;
    margin-bottom: 4rem;
    text-align: left; }
    .footer-info-item:last-child {
      margin-bottom: 0;
      text-align: left;
      width: 100%; }

  .footer-links {
    flex-wrap: wrap; }
    .footer-links .footer-list-link {
      width: 100%;
      margin-right: 0;
      margin-bottom: 2rem;
      text-align: left; }
      .footer-links .footer-list-link:last-child {
        margin-bottom: 0; } }
@media (max-width: 425px) {
  /*=====  Index + Catalog =====*/
  .main.index .container .main-item .item-title, .main.catalog .container .main-item .item-title {
    font-size: 2rem; }

  /*=====  Index / Intro  =====*/
  .intro-title {
    font-size: 3rem; }

  .intro-text {
    font-size: 1.2rem; }

  /*=====  Index / Subscriptions  =====*/
  .item-info {
    font-size: 1.4rem; }

  /*=====  Index / Application  =====*/
  .application-block img {
    width: 100%; } }
@media (max-width: 320px) {
  /*=====  Index / Subscriptions  =====*/
  .item-info {
    font-size: 1.2rem; }

  /*=====  Catalog / Discography =====*/
  .artist-data {
    width: 13rem; }

  /*=====  Catalog / Similar =====*/
  .album-data {
    width: 13rem; } }

/*# sourceMappingURL=style.css.map */
